// import scss files
@import 'fonts.scss';

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
// body style
body {
  background-color: #e9edf5;
  direction: rtl;
}
.shadow-product{
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.05);
}
.border-btn{
  border: 1.5px solid var(--gray-50, #E9EDF5);
}
.text-color{
  color: #57728E;
}
.custome-radius{
  border-radius: 4px 16px 16px 4px;
}
.showtech .inviteTech:nth-child(2){
  padding: 50px 17px 50px 106px;
}
.showdescription .inviteTech:nth-child(2){
  padding: 30px 17px 30px 106px;
}
.padding-title{
  padding: 0px 17px 0px 106px;
  border-radius: 4px 16px 16px 4px;
}
// responsive 
@media (min-width: 1280px){
  .container {
    max-width: 1100px !important;
  }
}
